 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 178px;
  height: 178px;
  margin: 32px auto 0 calc(((100% - 1140px) / 2) + -13px);
}

.u-section-1 .u-video-1 {
  width: 720px;
  height: 267px;
  margin: -92px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-2 {
  width: 726px;
  height: 719px;
  margin: -347px auto 0;
}

.u-section-1 .u-image-3 {
  width: 434px;
  height: 115px;
  margin: -156px auto 0 calc(((100% - 1140px) / 2) + 241px);
}

.u-section-1 .u-image-4 {
  width: 27px;
  height: 25px;
  margin: -99px auto 0 calc(((100% - 1140px) / 2) + 428px);
}

.u-section-1 .u-image-5 {
  width: 25px;
  height: 24px;
  margin: -24px auto 0 calc(((100% - 1140px) / 2) + 520px);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: -24px calc(((100% - 1140px) / 2) + 629px) 0 calc(((100% - 1140px) / 2) + 469px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px calc(((100% - 1140px) / 2) + 282px) 0 calc(((100% - 1140px) / 2) + 701px);
}

.u-section-1 .u-image-6 {
  width: 77px;
  height: 72px;
  margin: -680px calc(((100% - 1140px) / 2) + 15px) 0 auto;
}

.u-section-1 .u-image-7 {
  width: 77px;
  height: 75px;
  margin: 40px calc(((100% - 1140px) / 2) + 15px) 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 397px calc(((100% - 1140px) / 2) + 14px) 0 calc(((100% - 1140px) / 2) + 1061px);
}

.u-section-1 .u-image-8 {
  width: 92px;
  height: 107px;
  margin: 7px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-image-9 {
  width: 177px;
  height: 43px;
  margin: -75px auto 60px calc(((100% - 1140px) / 2) + -13px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 830px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-video-1 {
    width: 579px;
    height: 203px;
    margin-top: -45px;
    margin-right: calc(((100% - 940px) / 2) + 160px);
  }

  .u-section-1 .u-image-2 {
    width: 579px;
    height: 573px;
    margin-top: -276px;
    margin-right: calc(((100% - 940px) / 2) + 161px);
  }

  .u-section-1 .u-image-3 {
    width: 348px;
    height: 92px;
    margin-top: -139px;
    margin-left: calc(((100% - 940px) / 2) + 232px);
  }

  .u-section-1 .u-image-4 {
    height: 24px;
    margin-top: -80px;
    margin-left: calc(((100% - 940px) / 2) + 379px);
  }

  .u-section-1 .u-image-5 {
    height: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -26px;
    margin-right: calc(((100% - 940px) / 2) + 487px);
    margin-left: calc(((100% - 940px) / 2) + 411px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 219px);
    margin-left: calc(((100% - 940px) / 2) + 601px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -601px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-7 {
    margin-top: 37px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 358px;
    margin-right: calc(((100% - 940px) / 2) + 14px);
    margin-left: calc(((100% - 940px) / 2) + 863px);
  }

  .u-section-1 .u-image-8 {
    margin-top: 21px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 276px;
    height: 67px;
    margin-top: -60px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 850px;
  }

  .u-section-1 .u-image-1 {
    width: 113px;
    height: 113px;
    margin-top: 32px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-video-1 {
    margin-top: 67px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -274px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -123px;
    margin-left: 153px;
  }

  .u-section-1 .u-image-4 {
    height: 25px;
    margin-top: -77px;
    margin-left: calc(((100% - 720px) / 2) + 240px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + 335px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 398px);
    margin-left: calc(((100% - 720px) / 2) + 280px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: calc(((100% - 720px) / 2) + 126px);
    margin-left: calc(((100% - 720px) / 2) + 464px);
  }

  .u-section-1 .u-image-6 {
    width: 52px;
    height: 48px;
    margin-top: -618px;
    margin-right: calc(((100% - 720px) / 2) + 107px);
  }

  .u-section-1 .u-image-7 {
    width: 52px;
    height: 50px;
    margin-top: -50px;
    margin-right: calc(((100% - 720px) / 2) + 16px);
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 587px;
    margin-right: calc(((100% - 720px) / 2) + -11px);
    margin-left: calc(((100% - 720px) / 2) + 673px);
  }

  .u-section-1 .u-image-8 {
    width: 58px;
    height: 67px;
    margin-top: 13px;
    margin-right: calc(((100% - 720px) / 2) + -11px);
  }

  .u-section-1 .u-image-9 {
    width: 142px;
    height: 35px;
    margin-top: -35px;
    margin-bottom: 50px;
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
    margin-left: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-1 .u-video-1 {
    width: 466px;
    height: 174px;
    margin-top: 45px;
  }

  .u-section-1 .u-image-2 {
    width: 466px;
    height: 461px;
    margin-top: -224px;
  }

  .u-section-1 .u-image-3 {
    width: 276px;
    height: 73px;
    margin-top: -95px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-4 {
    width: 18px;
    height: 16px;
    margin-top: -62px;
    margin-left: 224px;
  }

  .u-section-1 .u-image-5 {
    width: 16px;
    height: 15px;
    margin-top: -15px;
    margin-left: 284px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -20px;
    margin-right: 356px;
    margin-left: 242px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 11px;
    margin-right: 148px;
    margin-left: 415px;
  }

  .u-section-1 .u-image-6 {
    width: 53px;
    height: 49px;
    margin-top: -519px;
    margin-right: calc(((100% - 540px) / 2) + 60px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 501px;
    margin-right: calc(((100% - 540px) / 2) + -26px);
    margin-left: calc(((100% - 540px) / 2) + 500px);
  }

  .u-section-1 .u-image-8 {
    width: 44px;
    height: 52px;
    margin-top: 4px;
    margin-right: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-1 .u-image-9 {
    width: 90px;
    height: 22px;
    margin-top: -37px;
    margin-bottom: 53px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-video-1 {
    width: 368px;
    height: 133px;
    margin-top: 125px;
  }

  .u-section-1 .u-image-2 {
    width: 370px;
    height: 366px;
    margin-top: -179px;
  }

  .u-section-1 .u-image-3 {
    width: 235px;
    height: 62px;
    margin-top: -78px;
    margin-left: calc(((100% - 340px) / 2) + -12px);
  }

  .u-section-1 .u-image-4 {
    height: 17px;
    margin-top: -52px;
    margin-left: calc(((100% - 340px) / 2) + 82px);
  }

  .u-section-1 .u-image-5 {
    width: 18px;
    height: 17px;
    margin-top: -17px;
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-right: calc(((100% - 340px) / 2) + 201px);
    margin-left: calc(((100% - 340px) / 2) + 97px);
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 8px;
    margin-right: calc(((100% - 340px) / 2) + 11px);
    margin-left: calc(((100% - 340px) / 2) + 223px);
  }

  .u-section-1 .u-image-6 {
    width: 47px;
    height: 44px;
    margin-top: -517px;
    margin-right: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-image-7 {
    width: 46px;
    height: 44px;
    margin-top: -44px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 532px;
    margin-right: 47px;
    margin-left: calc(((100% - 340px) / 2) + 301px);
  }

  .u-section-1 .u-image-8 {
    width: 39px;
    height: 46px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-9 {
    width: 128px;
    height: 31px;
    margin-top: -46px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }
}