 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 178px;
  height: 178px;
  margin: 31px auto 0 calc(((100% - 1140px) / 2) + 78px);
}

.u-section-1 .u-image-2 {
  width: 103px;
  height: 75px;
  margin: 446px auto 0 calc(((100% - 1140px) / 2) + 116px);
}

.u-section-1 .u-image-3 {
  width: 77px;
  height: 72px;
  margin: -663px calc(((100% - 1140px) / 2) + 57px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 77px;
  height: 72px;
  margin: 40px calc(((100% - 1140px) / 2) + 57px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 564px;
  margin: -137px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 164px;
    height: 164px;
    margin-top: 46px;
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 445px;
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -659px;
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 131px;
    height: 131px;
    margin-top: 21px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: 516px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-1 .u-image-3 {
    width: 67px;
    height: 62px;
    margin-top: -689px;
    margin-right: calc(((100% - 720px) / 2) + 124px);
  }

  .u-section-1 .u-image-4 {
    width: 67px;
    height: 62px;
    margin-top: -62px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 506px;
    height: 501px;
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 148px;
    height: 148px;
    margin-top: 64px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: 461px;
    margin-left: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-1 .u-image-3 {
    height: 63px;
    margin-top: -641px;
    margin-right: calc(((100% - 540px) / 2) + 133px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -63px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 395px;
    height: 390px;
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 136px;
    height: 136px;
    margin-top: 96px;
    margin-left: calc(((100% - 340px) / 2) + -22px);
  }

  .u-section-1 .u-image-2 {
    width: 80px;
    height: 58px;
    margin-top: 436px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 46px;
    height: 43px;
    margin-top: -615px;
    margin-right: calc(((100% - 340px) / 2) + 62px);
  }

  .u-section-1 .u-image-4 {
    width: 44px;
    height: 43px;
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 337px;
    margin-top: 128px;
  }
}